body
{
    font-family: Tahoma, "Geneva CY", sans-serif;
}

.header
{
    background-image: linear-gradient(to bottom, #fefefe, #eff0f0);
}

.header-row
{
    width: 980px;
    margin: 0 auto;
    overflow: auto;
}

.logo
{
    margin: 33px 41px 0 0;
    float: left;
    background: url(../img/logo.png) no-repeat;
    width: 229px;
    height: 32px;
}

.slogan
{
    margin: 29px 90px 0 0;
    float: left;
    width: 160px;
    font-size: 12px;
    color: #2a292a;
    line-height: 1.5;
}

.skolkovo
{
    margin: 0 54px 0 0;
    float: left;
    background: url(../img/scolkovo.png) no-repeat;
    width: 60px;
    height: 78px;
}

.support
{
    margin: 23px 7px 0 0;
    padding: 10px 15px;
    float: left;
    font-weight: 400;
    color: #646464;
    width: 190px;
}

.support-tel
{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #343434;
}

.support-header
{
    font-size: 11px;
}

clear: left;
.support-header span
{
    border-bottom: 1px dashed #b5c1ed;
}

.catalog
{
    margin: 32px 0 0 0;
    padding: 7px 12px 11px;
    float: right;
    display: block;
    background: url(../img/buttions.png) no-repeat 0 -80px;
    font-family: "Franklin Gothic Book", sans-serif; /*TODO: find font stack!*/
    font-size: 13px;
    color: #fff;
    text-align: center;
}

.header-menu
{
    background-image: linear-gradient(to bottom, #f4f4f4, #ffffff);
    float: left;
}

.header-menu ul
{
    padding: 0 1px;
}

.header-menu ul li
{
    display: inline-block;
    margin-left: -4px;
}

.header-menu ul li:first-child
{
    margin-left: 0;
}

.menu-item
{
    background-image: linear-gradient(to bottom, #f4f4f4, #e8eae9);
    display: block;
    font-size: 14px;
    border-bottom: 3px solid #afb2c1;
    padding: 13px 21px 15px 23px;
    color: #343434;
}

.menu-item:hover,.active
{
    border-bottom: 3px solid #B31D27;
    border-left: 1px solid #eff0f0;
    padding-left: 22px;
    background-image: linear-gradient(to bottom, #f4f4f4, #ffffff)
}

.right-bar
{
    float: right;
    padding-top: 12px;
}

.icon
{
    display: inline-block;
    vertical-align: bottom;
}

.right-bar .icon
{
    margin-right: 1px;
}

.person
{
    width: 17px;
    height: 17px;
    background: url('../img/icons.png') no-repeat 0 -45px;    
}

.star
{
    width: 17px;
    height: 17px;
    background: url(../img/icons.png) no-repeat -156px -93px;
}

.right-bar-item
{
    display: inline-block;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    color: #343434;
    text-decoration: underline;
}

.right-bar-item:first-child
{
    margin-right: 7px;
}

.content-container
{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 30px;
}

.post
{
    margin-bottom: 20px;
}

.posts-container
{
    float: left;
    width: 733px;
    box-sizing: border-box;
    padding: 0 15px;
}

.post-image
{
    position: relative;
    margin-bottom: 20px;
}

.post-image image
{
    display: inline-block;
}

.image-header
{
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0.94) 100%);
    width: 694px;
}

.post-title
{
    font: 36px 'Franklin Gothic Book', sans-serif;
    padding: 15px 30px;
    margin: 0;
}

.post-title a
{
    color: #fff;
    border-bottom:1px solid #fff;
    text-decoration:none
}

.image-footer
{
    float: left;
    background: #01080d;
    padding: 2px 10px 3px 10px;
    margin: 0 0 10px 20px;
    font-size: 12px;
}

.time
{
    margin-right: 15px;
}

.time,.image-footer a
{
    color: #858585;
}

.author
{
    margin-right: 17px;
}

.image-footer .icon
{
    margin-right: 7px;
}

.flag
{
    width: 12px;
    height: 13px;
    background: url('../img/icons.png') no-repeat -88px -103px; 
}

.post-text, .post-text a
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 160%;
}

.post-text a, .tags a
{
    color: #354f71;
    text-decoration: underline;
}

.post-text p
{
    margin-bottom: 15px;
}

.post-text ul
{
    list-style-position: inside;
    margin: 0 0 10px 21px;
}

.post-text li
{
    line-height: 200%;
}

.post-footer
{
    overflow: hidden;
}

.tag-ico
{
    background: url('../img/icons.png') no-repeat -47px -103px;
    width: 23px;
    height: 13px;
}

.tags
{
    margin-bottom: 15px;
}

.tags a
{
    font-size: 12px;
}

.social
{
    float: left;
}

.facebook
{
    background: url('../img/social.jpg') no-repeat -3px -87px;
    width: 15px;
    height: 15px;
}

.twitter
{
    background: url('../img/social.jpg') no-repeat -2px -33px;
    width: 16px;
    height: 16px;
}

.vkontake
{
    background: url('../img/social.jpg') no-repeat 0 -60px;
    width: 16px;
    height: 16px;
}

.google
{
    background: url('../img/social.jpg') no-repeat 0 -113px;
    width: 15px;
    height: 20px;
}

.odnoklassniki
{
    background: url('../img/social.jpg') no-repeat -6px -3px;
    width: 10px;
    height: 16px;
}

a.comment
{
    background-color: #768FA5;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    float: right;
    padding: 1px 5px;
    margin: 4px 20px 0 0;
}

.widget-container
{
    float: right;
    width: 224px;
}

.widget-item
{
    background: #EFF0F2 url('../img/widget-bg.png');
}

.subscribe-form
{
    color: #354f71;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 15px 12px 10px 12px;
    border: 8px solid #eff0f2;
}

.widget-header
{
    color: #354f71;
    font: 17px 'Franklin Gothic', sans-serif;
    margin-bottom: 15px;
}

.subscribe-form .input-email
{
    height: 30px;
    width: 166px;
    border-radius: 4px;
    padding: 0 8px;
    box-shadow: inset 0 1px 4px 0 #eee;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.subscribe-form .subscribe
{
    background-color: #4a68ac;
    background-image: linear-gradient(to bottom, #5574b8, #3c589d);
    color: #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #6c8cd1;
    box-shadow: 0 1px 2px 0px rgba(166, 166, 166, 0.5);
    width: 100%;
    margin-bottom: 16px;
}

.subscribe-form .subscribers
{
    font-size: 11px;
    color: #768fa5;
    font-style: italic;
}

.blog-search
{
    padding: 26px 20px;
    margin-bottom: 20px;
}

.blog-search .widget-header, .popular-posts .widget-header
{
    padding-left: 5px;
    margin-bottom: 13px;
}

.input-search
{
    height: 30px;
    width: 145px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 8px;
    box-shadow: inset 0 1px 4px 0 #eee;
    border: 1px solid #ccc;
}

.search
{
    background: url('../img/search-button.png');
    width: 30px;
    height: 30px;
    float: right;
    border: 0;
}

.popular-posts
{
    padding: 26px 20px;
}

.popular-posts ul
{
    list-style: none;
}

.popular-posts li
{
    margin-bottom: 24px;
    margin-left: 5px;
}

.popular-posts li:last-child
{
    margin-bottom: 0;
}

.popular-posts .date
{
    color: #fff;
    font-size: 11px;
    padding: 3px 4px;
    font-weight: normal;
    background: #718f9f;
    display: inline-block;
    margin-bottom: 7px;
}

.popular-posts a
{
    color: #354f71;
    text-decoration: underline;
    font: inherit;
    font-size: 11px;
    display: block;
}

.footer-menu
{
    background-image: radial-gradient(#1a4988, #013c7b);
}

.footer-container
{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    padding: 38px 0 4px 40px;
}

.colomn
{
    float: left;
    margin-right: 45px;
}

.colomn:first-child
{
    margin-right: 100px;
}

.colomn:last-child
{
    float: right;
    margin-right: 85px;
}
.colomn-title
{
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8px;
}

.colomn ul
{
    list-style: none;
    font-size: 11px;
    color: #a8c5ff;
    line-height: 22px;
    margin-bottom: 26px;
}

.colomn ul li a
{
    text-decoration: underline;
    font-size: 11px;
    color: #a8c5ff;
    line-height: 22px;
}

.phone-ico
{
    background: url('../img/icons.png') no-repeat -200px -50px;
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 5px;
}

.email-ico
{
    background: url('../img/icons.png') no-repeat -150px -50px;
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 5px;
}

.partner-ico
{
    background: url('../img/icons.png') no-repeat -200px 0;
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 5px;
}

.tel
{
    font-size: 18px;
    color: #fff;
    display: inline-block;
}

ul.contact
{
    padding-top: 14px;
}

ul.contact li
{
    overflow: hidden;
    margin-bottom: 20px;
}

ul.contact li a
{
    display: inline-block;
}

.footer-down
{
    background: url('../img/footer-bg.png');
}

.footer-down-container
{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0 30px 40px;
}

.colomn-down
{
    float: left;
    margin-right: 97px;
}

.footer-logo
{
    background: url('../img/footer-logo.png') no-repeat 0 0;
    width: 143px;
    height: 23px;
}

.footer-title
{
    color: #4858a8;
    font-size: 11px;
    padding-top: 5px;
}

ul.social-in-footer
{
    float: left;
    list-style: none;
    margin: 5px 78px 0 0;
}

.social-in-footer li
{
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-right: 4px;
}

.social-in-footer a
{
    display: block;
    height: 100%;
    width: 100%;
}

.icon-soial {
    
}

.fb
{
    background:  url(../img/socialnetwork_new.png) no-repeat 0 0;
}

.tw
{
    background:  url(../img/socialnetwork_new.png) no-repeat -34px -27px;
}

.vk
{
    background:  url(../img/socialnetwork_new.png) no-repeat -68px -27px;
}

.ok
{
    background:  url(../img/socialnetwork_new.png) no-repeat -136px 0;
}

.gl
{
    background:  url(../img/socialnetwork_new.png) no-repeat -170px 0;
}

.yt
{
    background:  url(../img/socialnetwork_new.png) no-repeat -204px 0;
}

.in
{
    background:  url(../img/socialnetwork_new.png) no-repeat -238px 0;
}

.ss
{
    background:  url(../img/socialnetwork_new.png) no-repeat -272px 0;
}

.ln
{
    background:  url(../img/socialnetwork_new.png) no-repeat -102px 0;
}

a.yandex
{
    background:  url(../img/cycounter.gif) no-repeat;
    width: 88px;
    height: 31px;
    display: inline-block;
    margin: 5px 0 0 0;
}

.windows
{
    background:  url(../img/windows.png) no-repeat;
    width: 57px;
    height: 72px;
    float: right;
}

.footer-win
{
    float: right;
    margin-right: 0;
    color: #4858a8;
    font-size: 11px;
    padding-top: 5px;
    text-align: right;
    width: 118px;
    margin: 12px 15px 0 0;
}

.footer-win span
{
    display: block;
    color: #81afe2;
}